<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>The Beginning</title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="dist/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div>
        <div class="col-md-8">
          <%= yield %>
        </div >
        <div class="col-md-3" id="right-content">
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
